.Colortop {
    height: 50px;
    width: 1920x;
    background-color: #430300;
    position: relative;
    top: 223px;
}
.BannerTop {
    height: 250px;
    width: 1920x;
    background-color: #430300;
    position: relative;
    top: -295px;
}
.Colorbottom {
    height: 50px;
    width: 1920x;
    background-color: #430300;
    position: relative;
    top: 100px;
}
.Colorleft {
    height: 50px;
    width: 600px;
    background-color: #430300;
    position: relative;
    top: 100px;
    left: 0px;
}
.Colorright {
    height: 50px;
    width: 583px;
    background-color: #430300;
    position: relative;
    top: 50px;
    right: -1304px;
}
#PikaImage{
    width: 25%;
    position: absolute;
    top: 80px;
}
#LuffyImage{
    width: 10%;
    position: absolute;
    right: 100px;
    top: 45px;
}

.ColorSecondBackground {
    height: 750px;
    width: 1920x;
    background-color: #280300;
    position: relative;
    top: -200px;
}
.ColorHyperLinkBackground {
    height: 750px;
    width: 1920x;
    background-color: blue;
    position: relative;
    top: -500px;
}

.TextHyperLinks a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    
}

.WhiteLineTop{
    height: 2px;
    width: 705px;
    top: -1000px;
    left: 600px;
    position: relative;
    background-color: #D55816;
}


.WhiteLineTop2{
    height: 2px;
    width: 705px;
    top: -1010px;
    left: 600px;
    position: relative;
    background-color: white;
}